
.currentTimelogs {
  &__list {
    marign: 0;
    padding: 0;
    max-height: 350px;
    overflow-y: scroll;
  }

  &__timelog {

  }

}

.currentTimelog {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  margin-top: 3px;
  margin-bottom: 10px;

  > * {
  }

  &__clockToggle {
    text-align: center;
  }

  &__block {
    cursor: pointer;
  }

  &__clock {
    text-align: center;
    > div {
      font-size: 11px;
    }
  }

  &__details {
    height: 0;
    overflow: hidden;

    background-color: #333;
    color: #eee;

    span.fa-stack > i:first-child {
      color: #eee;
    }

    &--active {
      height: 250px;
      padding: 5px;
    }
    > * {
      flex: 1 1 auto;
      padding: 5px;
    }

    textarea {
      // width: 55%;
    }

    ul.detailList {
      padding: 0;
      margin: 0;
      list-style: none;
      .detail {
        display: inline-block;
        margin-right: 10px;
        &--client{
          > span:first-child {
            font-weight: bold;
          }
          .billableToggle {
            display: inline-block;
            // height: 20px;
            // width: 20px;
            // margin: 0 10px;
            // border-radius: 50%;
            // text-align: center;
            // background: white;
            color: #fff;
          }
        }
        &--log_start{
          font-style: italic;
        }
        &--log_owner{margin-top: 10px;}
        &--log_type{
        }

        &--tp_link{
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  &__project {
    color: #888;
    font-style: italic;
    font-size: 12px;
  }

  &__name {
  }

  &__parent {
    font-weight: normal;
    font-style: italic;
    font-size: 10px;
  }

}

.form-group {
  textarea {
    min-height: 120px;
  }
}

.detail {
  &--log_owner ,
  &--log_owner {
    .form-group {
      .form-control ,
      .control-label {
        display: inline-block;
      }
    }
  }

  &--log_owner {
    
  }
  &--log_type {
    
  }
}