.recentTimelogs {
  &__list {
    marign: 0;
    padding: 0;
    max-height: 250px;
    overflow-y: auto;
  }
}

.recentTimelog {
  overflow: hidden;
  border-bottom: 1px solid #ddd;

  &:first-child {
    margin-top: 0;
    .recentTimelog__details {
      // height: auto;
    }
  }
}

.recentTimelog__toggle {
  text-align: center;
}

.recentTimelog__block {
  flex: 1 1 auto;
}

.recentTimelog__project {
  color: #888;
  font-style: italic;
  font-size: 12px;
}

.recentTimelog__clock {
    text-align: center;
}

.recentTimelog__details {
  min-width: 100%;
  height: 0;
  overflow: hidden;
  background: #333;
  color: white;
  span.fa-stack > i:first-child {
    color: white;
  }
  form {
    padding: 10px;
    ul {margin: 0; padding: 0;}
    li {
      list-style: none;
      display: inline-block;
    }
    .form-group {
      label {display: none;}
    }
    .form-group {
      &:last-child {
        label {display: none;}
        width: 100%;
      }
    }
  }
}